<!DOCTYPE html>
<html>
	<head>
	    <title>schoolsquad</title>
	    <link rel='stylesheet' href='/stylesheets/dashboard_style.css' />
  	</head>
	<body>

		<div class="header">
			<img id="logo_img" src="/images/schoolsquadred2.png">
			<a href ="">
				<img class="icon_img" src="/images/settings3.png">
			</a>
			<a href ="">
				<img class="icon_img" src="/images/calendar.png">
			</a>
		</div>

	    <div class="wrap">
	        <div class="my_squad">
	        	<div class="tab_header">
	        		<img class="h1_img" src="/images/my_squad.png">
				</div>
				<div class="tab_body">
	            	<p>Content for my squads</p>
				</div>
	        </div>

	        <div class="all_squads">
	        	<div class="tab_header">
	        		<img class="h1_img" src="/images/active_squads.png">
				</div>
				<div class="tab_body">
	            	<p>Content for all active squads</p>
				</div>
	        </div>
	    </div>
	    
	</body>
</html>