body {
	padding: 0px 50px 50px 50px;
	background-color: #FF4747;
	color: white;
}

.header {
	margin: 20px 0px 10px 20px;
	color: white;
	width: 97%;
	height: 90px;
	position:relative;
}

#logo_img {
	float: left;
	position: absolute;
	bottom: 0;
	height: auto; 
	width: auto; 
	max-height: 90px;
	max-width: 60%;
}
.icon_img {
	float: right;
	height: auto; 
	width: auto; 
	padding: 30px 15px 15px 15px;
	max-height: 30px;

	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.icon_img:hover, .icon_img:focus, .icon_img:active {
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}

.wrap {
	width: 100%;
	display: inline-block;
}
.my_squad, .all_squads {
    background-color: #CC3939;
    border-radius: 10px;
}
.my_squad {
	float: left;
	width: 49%;
}
.all_squads {
	float: right;
	width: 49%;
}
.tab_header {
	padding: 10px;
	text-align: center;
}
.h1_img {
	padding-top: 5px;
	height: auto; 
	width: auto; 
	max-height: 50px;
}
.tab_body {
	margin: -10px 30px 30px 30px;
}

h4 {
	color: #7d0d0d;
	line-height: 0.01;
}

p {
	line-height: 0.02;
}

