body {
	background-color: #7d0d0d;
}

.form {
	background-color: #cc3939;
    border-radius: 10px;
    padding: 30px;
    padding-top: 1px;
    width: 55%;
    margin: auto;
}

#popupContainer {
	background-color: #cc3939;
    border-radius: 10px;
    padding: 30px;
    padding-top: 1px;
    width: 25%;
    margin: auto;
}

input[type="text"] {
    border-radius: 6;
    -webkit-appearance: none;
}

button[type="submit"] {
    text-decoration: none;
    background-color: #cc3939;
    color: white;
    border-radius: 6px;
    padding: 7px 35px;
    margin: 4px;
    min-width: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}