body {
  padding: 50px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #FF4747;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
	cursor: pointer;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
  font-size: 18px;
  font-weight: lighter;
}

p {
	font-size: 14px;
}