<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/index_style.css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>
  	<div class = "center">
	    <div class="wrap">
	    	<img id="logo_img" src="/images/schoolsquadred2.png">
	    </div>
	    
	    <div id="blurb">
	    	<h4><font color="7d0d0d"><b>Put after school programs in your own hands.</b></font><br>Schoolsquad connects elementary, middle, and high school students to university volunteers nearby in their community. Students vote on new activities each month & join squads that interest and engage them.</h4>
	    </div>

	    <div class="signups">
	        <a href="/signup/college" class="hvr-sink-button">College Signup</a>
	    	<a href="/signup/student" class="hvr-sink-button">Student Signup</a>
	    </div>

	    <br>
	    <a href="/login">Login</a>
	</div>
  </body>
</html>