<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/login_style.css' />
  </head>
  <body>
  	<div class = "center">
	    <h1>School Squad</h1>
	    <h3>Description goes here</h3>
	    <a href="/signup" class="button">College Signup</a>
	    <a href="/signup" class="button">Student Signup</a>
		</br>
	    <a href="/login">Login</a>
	</div>
  </body>
</html>