<body>
<div id='popupContainer'>
  <div id='popup'>
    <h2>Login</h2>
    <form action='/auth/login' method='post'>
      Username: <input type='text' /></br>
      Password: <input type='password' /></br>
      <input class='center' type='submit' value='login' />
    </form>
  </div>
</div>

</body>