<!DOCTYPE html>
<html>
<head>
    <title>schoolsquad</title>
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/form_style.css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id='popupContainer'>
	  <div id='popup'>
	    <h3>Login</h3>
	    <form action='/auth' method='post'>
	        <div class="field-wrap">
				Username: <input type='text' />
			</div><br>
			<div class="field-wrap">
				Password: <input type='password' />
	      	</div><br>
	        <div class="field-wrap">
				<input class='center' type='submit' value='login' />
			</div>
	    </form>
	  </div>
	</div>
</body>
</html>

