<!DOCTYPE html>
<html>
	<head>
	    <title>schoolsquad</title>
	    <link rel='stylesheet' href='/stylesheets/global.css' />
	    <link rel='stylesheet' href='/stylesheets/dashboard_style.css' />
	    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  	</head>
	<body>

		<div class="header">
			<img id="logo_img" src="/images/schoolsquadred2.png">
			<a href ="">
				<img class="icon_img" src="/images/settings3.png">
			</a>
			<a href ="">
				<img class="icon_img" src="/images/calendar.png">
			</a>
		</div>

	    <div class="wrap">
	        <div class="my_squad">
	        	<div class="tab_header">
	        		<img class="h1_img" src="/images/my_squad.png">
				</div>
				<div class="tab_body">
	            	<p>Content for my squads</p>
				</div>
	        </div>

	        <div class="all_squads">
	        	<div class="tab_header">
	        		<img class="h1_img" src="/images/active_squads.png">
				</div>
				<div class="tab_body">
	            	<p>Content for all active squads</p>
				</div>
	        </div>
	    </div>
	    
	</body>
</html>



<!-- Modal -->
<div class="modalButton">

  <a href="#modal-one" class="btn btn-big">Modal!</a>
  
</div>
 
<!-- Modal -->
<div class="modal" id="modal-one" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <h2>Modal in CSS?</h2>
      <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
    </div>
    <div class="modal-body">
      <p>One modal example here! :D</p>
    </div>
    <div class="modal-footer">
      <a href="#close" class="btn">Nice!</a>  <!--CHANGED TO "#close"-->
    </div>
    </div>
  </div>
</div>
<!-- /Modal -->
