<!DOCTYPE html>
<html>
<head>
    <title>schoolsquad</title>
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/form_style.css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="form">    
        <div class="tab-content">
          <div id="signup">   
            <h3><font color="7d0d0d">Sign Up to Lead a Squad in a Local School!</font></h3>
            
            <form action="/auth/signup/college" method="post">
            
            <div class="top-row">
              <div class="field-wrap">
              <label>
                Username<span class="req"> </span>
              </label>
              <input type="text"required autocomplete="off" name='username'/>
            </div>
            <br>

            <div class="field-wrap">
              <label>
                Password&nbsp;<span class="req"> </span>
              </label>
              <input type="password"required autocomplete="off" name='password'/>
            </div>
            <br>

              <div class="field-wrap">
                <label>
                  Full Name&nbsp;<span class="req"> </span>
                </label>
                <input type="text" required autocomplete="off" name='fullname'/>
              </div>
            </div>
            <br>

            <div class="field-wrap">
              <label>
                Age Group<span class="req"> </span>
              </label>
              <select name='agegroup'>
                <option>Elementary School</option>
                <option>Middle School</option>
                <option>High School</option>
              </select> 
            </div>
            <br>

            <div class="field-wrap">
              <label>
                University&nbsp;<span class="req"> </span>
              </label>
              <input type="text"required autocomplete="off" name='school'/>
            </div>
            <br>


            <div class="field-wrap">
              <label>
                Interests/Skills (select all that apply)<span class="req"> </span>
              </label><br>
                <table>
                  <td>
                    <input type="checkbox" name="activities[]" value="Soccer">Soccer<br>
                    <input type="checkbox" name="activities[]" value="Guitar">Guitar<br>
                    <input type="checkbox" name="activities[]" value="Creative Writing">Creative Writing<br>
                    <input type="checkbox" name="activities[]" value="Baseball">Baseball<br>
                  </td>
                  <td>
                    <input type="checkbox" name="activities[]" value="Dance">Dance<br>
                    <input type="checkbox" name="activities[]" value="Painting">Painting<br>
                    <input type="checkbox" name="activities[]" value="A Capella">A Capella<br>
                    <input type="checkbox" name="activities[]" value="Arts and Crafts">Arts and Crafts<br>
                  </td>
                  <td>
                    <input type="checkbox" name="activities[]" value="Running">Running<br>
                    <input type="checkbox" name="activities[]" value="Spanish">Spanish<br>
                    <input type="checkbox" name="activities[]" value="Acting/Improv">Acting/Improv<br>
                    <input type="checkbox" name="activities[]" value="Volleyball">Volleyball<br>
                  </td>
                  <td>
                    <input type="checkbox" name="activities[]" value="Kickball">Kickball<br>
                    <input type="checkbox" name="activities[]" value="Hiking/Nature">Hiking/Nature<br>
                    <input type="checkbox" name="activities[]" value="Kayaking">Kayaking<br>
                    <input type="checkbox" name="activities[]" value="Slam Poetry">Slam Poetry<br>
                  </td>
                </table>
            </div>     
            <br>
            <button type="submit" class="button button-block"/>Squad Up</button>
            
            </form>

          </div>
          
        </div><!-- tab-content -->
        
    </div> <!-- /form -->
  </body>
</html>